{
  "printWidth": 100,
  "singleQuote": true,
  "htmlWhitespaceSensitivity": "ignore",
  "trailingComma": "all",
  "bracketSpacing": true,
  "semi": true,
  "endOfLine": "lf",
  "tabWidth": 2,
  "importOrder": ["^@app", "^[./]"],
  "importOrderParserPlugins": ["typescript", "decorators-legacy", "classProperties"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
